.home {
    @extend .moon-gradient;
    @extend .text-white;
    .row {
        @extend .position-relative;
    }
    .home-top {
        @extend .vh-100;
        @extend .d-flex;
        @extend .justify-content-center;  
        .jumbotron {
            font-family: 'Montserrat', sans-serif;
            @extend .font-weight-bold;
            font-style: normal;
            @extend .col-auto;
            @extend .m-auto;
            @extend .text-center;
        }
            
        .title-top {
            .date {
                @extend .mb-4;
                @extend .h2;
            }
            @extend .h3;
        }
        .title {

            @extend .display-3;

        }
        .title-bottom {
            @extend .lead;
        }
    }

        .home-center {
            .bg-images {
                background-image: url('./../img/State_Institute_of_Technology_SPB_mini.png');            
                @extend .baground-img;
                @extend .w-100;
                height: 65vh;
                background-position: 50% 100%;
                @include media-breakpoint-up(lg) { height: 63rem;
                background-image: url('./../img/State_Institute_of_Technology_SPB.png');
                }
            }

        }
    
        .home-bottom {
            @extend .container;
            // @extend .vh-50;
            height: 100%;
            line-height: 2.8rem;
            img {
                @extend .my-5;
                @extend .col-12;
            }

            dl {
                line-height: $line-height-sm;
                @extend .col-12;
                @extend .mb-3;
                @extend .text-center;
                dt, dd {   
                    @extend .lead;
                }
            }

            .site {
                a {
                    @extend .text-white;
                    @extend .h3;
                }
            }
            .coordinator {
                a {
                    @extend .text-nowrap;
                    @extend .text-white;
                }
            }
        }
}
