-
    var arr = [
        {'time': '09:30 -10:00', 'title': 'Сбор участников на кафедре пластмасс СПбГТИ, Московский, 26', 'desc': '','img' : ''},
        {'time': '10:00 -11:00','title': 'Сравнительное ручное формование на матричных смолах BUFA Resin VE 7100 Tooling и Aropol XO', 'desc': 'Желающие имеют возможность принять участие в формовке.','img' : ''},
        {'time': '11:15 -13:30','title': 'Практическая демонстрация полировальных паст Paicristal', 'desc': 'Sebastiano Bettio, менеджер направления.','img' : 'Sebastiano-Bettio'},
        {'time': '13:30 -14:30','title': 'Снятие отформованного изделия. Вопросы от участников. Закрытие семинара.', 'desc': '','img' : ''},
    ];

table.table
    thead
        tr
            th 12.07.19
            th 
                img(href="/" alt="")
            th День практики
    tbody
    each val, index in arr
        tr
            td.time=val.time
            td.img
                if val.img
                    img(src="./img/speakers/"+val.img+".jpg" alt='speakers-'+index)
            td.event
                dl.mb-0
                    dt=val.title
                    if val.desc
                        dd=val.desc