-
    var arr = [
        {'time': '09:30 -10:00', 'title': 'Регистрация', 'desc': '','img' : ''},
        {'time': '10:00 -10:10','title': 'Открытие семинара', 'desc': 'Заместитель генерального директора ГК «ЕТС», Андреев С.В.','img' : 'Andreev'},
        {'time': '10:10 -10:40','title': 'Технико-экономическое проектирование матрицы', 'desc': 'Руководитель проекта технологической оснастки «ДизайнИнвест», Лукинов В.','img' : 'Luchino-Vladimir'},
        {'time': '10:50 -11:20','title': 'Как изготовить мастер-модель', 'desc': 'Презентация от ИП Зуваитов - Зуваитов Д.','img' : 'Dilshod-Zuvaitov'},
        {'time': '11:20 -12:00','title': 'Гелькоут с высочайшей стойкостью к ультрафиолету и абразивному износу: ISO 3000', 'desc': 'Менеджер по Восточной Европе BUFA Composite Systems, Eike Sieger.','img' : 'Eike-Siegert'},
        {'time': '12:00 -12:15','title': 'Перерыв на кофе', 'desc': '','img' : ''},
        {'time': '12:20 -13:00','title': 'Дугалак: обзор рынка полиэфирных и эпоксивинилэфирных смол: разбивка по сегментам, основные проблемы и тренды.', 'desc': 'Автор доклада: Зоран Павлович, владелец Дугалак','img' : ''},
        {'time': '13:00 -13:30','title': 'Презентация о эпоксивинилэфирных смолах компании AOC Aliancys', 'desc': 'Ведущий менеджер по продажам ГК «ЕТС», Райхлин Л.','img' : 'Reichlin'},
        {'time': '13:30 -14:20','title': 'Обед', 'desc': '','img' : ''},
        {'time': '14:25 -15:30','title': 'Визит в испытательный центр СПбГТИ', 'desc': '','img' : ''},
        {'time': '15:40 -16:10','title': 'Особенности изготовления химстойкого стеклопластикового изделия', 'desc': 'Начальник технологического отдела АО «Авангард», Немченков И.','img' : ''},
        {'time': '16:10 -16:40','title': 'Пултрузия: как изготовить качественное изделие', 'desc': 'Начальник цеха пултрузионных изделий компании НЦК, Кормановский Д.','img' : 'Denis-Kormanovsky'},
        {'time': '16:40 -17:10','title': 'Особенности технологии напыления акриловых ванн', 'desc': 'Главный технолог «Аквасити», Лазарев М.','img' : 'Mikhail-Lazarev'},
        {'time': '17:10 -17:50','title': 'Общение участников семинара со спикерами', 'desc': '','img' : ''},
        {'time': '17:50 -18:00','title': 'Подведение итогов и закрытие семинара', 'desc': 'Райхлин Л.','img' : 'Reichlin'},
        {'time': '18:45 -21:45','title': 'Ужин в ресторане', 'desc': '','img' : ''},
    ];

table.table
    thead
        tr
            th 11.07.19
            th 
            th День теории
    tbody
    each val, index in arr
        tr
            td.time=val.time
            td.img
                if val.img
                    img(src="./img/speakers/"+val.img+".jpg" alt='speakers-'+index)
            td.event
                dl.mb-0
                    dt=val.title
                    if val.desc
                        dd=val.desc