each val in picture
    .section__img
        div(class="img_"+val.img)
            
//-     picture
//-         source(srcset="img/mini/" + val.img + ".jpg" type="image/svg+xml" media="(max-width: 600px)")
//-         img.img(src="img/" + val.img + ".jpg" alt=val.alt)