.section__map
    script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%'+map+'&width=100%25&height=680&lang=ru_RU&scroll=false')