- var title = "Москва";
- var date = "13.03.2020";
- var place = "Московская область,<br> Солнечногорский район, с/п Пешковское";
- var name = "Наталья Ильина";
- var href = "+79169009268";
- var number = "+7 (916) 900 92 68";
- var value = "MSK";
- var picture = [{img: 'msk', alt: 'москва'}];
- var map = "3A31a18962e6fa46085ec9ab7650cdabf2c1ba7e587bbb1221931956ecd12b1651";