- var title = "Санкт-Петербург";
- var date = "18.03.2020";
- var place = "Санкт-Петербург, <br> проспект Александровской Фермы, 29к3";
- var name = "Павел Асипков";
- var href = "+79210934561";
- var number = "+7 (921) 093 45 61";
- var value = "SPb";
- var picture = [{img: 'spb', alt: 'санкт-петербург'}];
- var map = "3A28b82f4c1211da3d2a2e4c386fd5ea30be125df1370c9fceeae1593a83724456";