.form-group.col-md-12.py-2
    .form-check.custom-control.checkbox
        input.custom-control-input#agr(type='checkbox' name="agr")
        label.custom-control-label(for='agr')
            | Согласие на обработку персональных данных
        .invalid-feedback
            | Вы должны согласиться перед отправкой