.form-group.col-lg-6
    select#citySeminar.form-control.rounded-0.p-2.custom-select(name="citySeminar" data-error="Нужно выбрать Город")
        option.text-muted(disabled selected value="Город не выбран") Выбор города Семинара
        option(value="MSK") Москва
        option(value="SPb") Санкт-Петербург
    .help-block.with-errors.bg-danger.text-white.text-shadow.text-center