.form-group.col-lg-6
    input#city.form-control.rounded-0.p-2(type="text" name="city" placeholder="Город" required data-error="Напшите Ваш Город")
    .help-block.with-errors.bg-danger.text-white.text-shadow.text-center