.form-group.col-lg-6
    input#firm.form-control.rounded-0.p-2(type="text" name="firm" placeholder="Наименование компании" required data-error="Напшите Наименование компании")
    .help-block.with-errors.bg-danger.text-white.text-shadow.text-center