.form-group.col-lg-6
    input#fio.form-control.rounded-0.p-2(type="text" name="fio" placeholder="ФИО" required data-error="Напишите ФИО")
    .help-block.with-errors.bg-danger.text-white.text-shadow.text-center