.form-group.col-lg-6
    select#occupation.form-control.rounded-0.p-2.custom-select(name="occupation" data-error="Нужно выбрать род деятельности")
        option.text-muted(disabled selected value="Род деятельности не выбран") Род вашей деятельности
        option Дилер
        option Кровельщик
        option Строитель
        option Архитектор 
    .help-block.with-errors.bg-danger.text-white.text-shadow.text-center