.form-group.col-lg-6
    input#phone.form-control.rounded-0.p-2(type="text" name="phone" placeholder="Телефон" required data-error="Напишите Ваш Телефон")
    .help-block.with-errors.bg-danger.text-white.text-shadow.text-center