nav.navbar.navbar-expand-lg
    a.navbar-brand(href='/')
        i.far.fa-book-reader.fa-3x.mx-3
        | Семинар
    |           
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        i.far.fa-align-right.text-light
    |         
    #navbarSupportedContent.collapse.navbar-collapse
        .mr-auto
        |             
        ul.navbar-nav          
            li.nav-item
                a.nav-link(href='#msk') Москва
            |               
            li.nav-item
                a.nav-link(href='#spb') Санкт-Петербург
            |      
            li.nav-item
                a.nav-link(href='#form') Форма регистрации участника
