.container#form
    .row
        h1.col-12.title.text-center.my-5 Форма регистрации участника
        form#contactForm.contactform.col-12.my-5(data-toggle="validator" role="form")
            .form-row
                .form-group.col-sm-12.col-lg-4
                    input#name.form-control.rounded-0.p-2(type="text" name="name" placeholder="ФИО" required data-error="Напишите ФИО")
                    .help-block.with-errors.bg-danger.text-white.text-shadow.text-center
                .form-group.col-sm-12.col-lg-4
                    input#email.form-control.rounded-0.p-2(type="email" name="email" placeholder="Email" required data-error="Напишите Ваш Email")
                    .help-block.with-errors.bg-danger.text-white.text-shadow.text-center
                .form-group.col-sm-12.col-lg-4
                    input#phone.form-control.rounded-0.p-2(type="text" name="phone" placeholder="Телефон" required data-error="Напишите Ваш Телефон")
                    .help-block.with-errors.bg-danger.text-white.text-shadow.text-center
                .form-group.col-sm-12.col-lg-4
                    input#firm.form-control.rounded-0.p-2(type="text" name="firm" placeholder="Наименование компании" required data-error="Напшите Наименование компании")
                    .help-block.with-errors.bg-danger.text-white.text-shadow.text-center
                .form-group.col-sm-12.col-lg-4
                    input#city.form-control.rounded-0.p-2(type="text" name="city" placeholder="Город компании" required data-error="Напшите Город компании")
                    .help-block.with-errors.bg-danger.text-white.text-shadow.text-center
                .form-group.col-sm-12.col-lg-4
                    input#position.form-control.rounded-0.p-2(type="text" name="position" placeholder="Должность" required data-error="Укажите Должность")
                .form-group.col-sm-12.col-lg-4
                    select#technol.form-control.rounded-0.p-2.custom-select
                        option.text-muted(disabled selected value="Технология производства не выбрана") Выберите Технологию Производства
                        option Ручное формование
                        option Намотка
                        option Напыление
                        option Инфузия/RTM
                        option Иное
                    .help-block.with-errors.bg-danger.text-white.text-shadow.text-center
                .form-group.col-sm-12.col-lg-4
                        legend.small.text-muted Нужен совет по гостинице ?
                        .form-check.custom-control.col-sm-12.col-lg-4
                            input#sovet.custom-control-input(type="checkbox" name="sovet")
                            label.custom-control-label(for="sovet") Да
                .form-group.col-sm-12.col-lg-4
                        legend.small.text-muted Презентация компании на семинаре ?
                        .form-check.custom-control.col-sm-12.col-lg-4
                            input#prezent.custom-control-input(type="checkbox" name="prezent")
                            label.custom-control-label(for="prezent") Да           
                .form-group.col-md-12.py-2
                    textarea#message.form-control.rounded-0.py-2( placeholder="Что интересует на семинаре" name="message" minlength='12' maxlength='500' cols="30" rows="5" required data-error="Напишите Сообщение больше 12 знаков")
                    .help-block.with-errors.bg-danger.text-white.text-shadow.text-center
                .form-group.col-md-12.py-2
                    .form-check.h5.custom-control.checkbox
                        input.custom-control-input#agr(type='checkbox' name="agr")
                        label.custom-control-label(for='agr')
                            p Согласие на обработку персональных данных
                        .invalid-feedback
                            p Вы должны согласиться перед отправкой
                .form-group.col-md-12.py-2
                    button#submit.w-100.bg-primary.text-white.border-0.btn-lg.btn-success.col-md-12(role="button" type="submit" title="отправить запрос" disabled) Отправить
                    #msgSubmit.h3.text-center.hidden(name="formData")
                    