.container.home-top
    .row
        .jumbotron
            .title-top
                p.date 11-12 июля 2019
                p МЕЖДУНАРОДНЫЙ СЕМИНАР
            h1.title
                | КОМПОЗИТЫ:
                br
                | ОТ ТЕОРИИ 
                | К ПРАКТИКЕ
            .title-bottom
                p 
                    | Два дня теории и практики.
                    br
                    | Участие бесплатное
                p
                    | Место проведения: 
                    br
                    | центральное здание
                    br
                    | Санкт-Петербургского 
                    br
                    | Государственного Технологического Института
                    br
                    | (Технического Университета)
        //- a.arrow(href="#home-bottom")
//- .home-main
.home-center
    .bg-images
.home-bottom#home-bottom
    .row
        img.img-fluid(src="img/ETC-25.svg" alt="ETC-25")
        dl.site
            dt Для регистрации заполните 
            dd
                a(href="#form") Анкету Участника
        dl.coordinator 
            dt Или свяжитесь с:
            dd
                | Райхлиным Леонидом
                |
                a(href="tel:+79213025408") +7 (921) 302 54 08