.container
    .row
        h1.title-page Программа семинара
        .col-12.col-lg-10.table-responsive
            include ./table/theory.pug
        .col-12.col-lg-10.table-responsive
            include ./table/practice.pug