form#regform.regform
    .form-row
        include ./form/city-seminar.pug
        include ./form/company.pug
        include ./form/occupation.pug
        include ./form/fio.pug
        include ./form/phone.pug
        include ./form/city.pug
        include ./form/checkbox.pug
        include ./form/submit.pug