.article__text
    .row
        .col-md-6
            p.text
                | Приглашаем вас принять участие в обучении и мастер-классе по монтажу
                | композитной черепицы Gerard с интеграцией мансардных окон VELUX.
            p.text
                | В этом году мы сделаем семинар ещё интереснее:
                | на тренинге по продажам мы поделимся практическими советами
                | как быть успешными в продажах премиальных материалов.
        .col-md-6
            p.text
                | Практическая часть вас также удивит: 
                | мы подготовили новые подходы к монтажу черепицы Джерард, 
                | которые мы раньше не показывали.
            p.text
                | Помимо этого, совместно со специалистами VELUX мы покажем,  
                | как правильно установить мансардные окна
                | в кровли с нашим кровельным материалом.
    .row.justify-content-md-center
        .col-md-6
            p.text
                | По окончании каждого мероприятия вас ждет вручение сертификатов
                | о прохождении мастер-класса Gerard и неофициальная часть.